@use 'sass:map';
@use '../../styles/variables.module';
@use '../../styles/functions';

.container {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-column-gap: functions.map-deep-get(variables.$margins, 'mobile', 5);
  grid-row-gap: functions.map-deep-get(variables.$margins, 'mobile', 5);
  max-width: 450px;
  flex-grow: 1;
  flex-basis: 0;

  @media (min-width: map.get(variables.$newBreakpoints, 'tablet')) {
    grid-column-gap: functions.map-deep-get(variables.$margins, 'tablet', 4);
    grid-row-gap: functions.map-deep-get(variables.$margins, 'tablet', 4);
  }

  .avatar {
    $size: 60px;
    width: $size;
    height: $size;
    object-fit: cover;
    border-radius: 50%;

    @media (min-width: map.get(variables.$newBreakpoints, 'tablet')) {
      $size: 100px;
      width: $size;
      height: $size;
    }

    @media (min-width: map.get(variables.$newBreakpoints, 'desktop2')) {
      $size: 130px;
      width: $size;
      height: $size;
    }
  }

  .mainInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .secondLine {
      font-weight: 300;
      font-size: 0.9rem;
    }
  }

  .keyFactsWrapper {
    grid-column: 1 / 3;

    .ul {
      padding-left: 1em;
    }
  }
}