@use 'sass:math';
@use 'sass:map';
@use '../../styles/variables';

@mixin heightAndPadding($totalHeight) {
  $pPadding: 20;
  $pHeight: 100 - $pPadding;
  $yPadding: math.div($totalHeight * $pPadding, 100);

  min-height: math.div($totalHeight * $pHeight, 100);
  padding-top: $yPadding;
  padding-bottom: $yPadding;
}

.buttonLink {
  background-color: variables.$colorGeoGreen;
  border: 0;
  color: variables.$colorSolidWhite;
  border-radius: variables.$borderRadius;
  cursor: pointer;
  text-transform: lowercase;
  font-family: variables.$gilroyFontFamily;
  font-style: normal;
  font-weight: variables.$fwRegular;
  font-size: 18px;
  line-height: 21px;
  transition: opacity 0.3s ease;

  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &:not([disabled]):hover {
    background-color: variables.$colorGeoGreenHover;
  }

  &.red {
    background-color: variables.$colorGeoRed;

    &:not([disabled]):hover {
      background-color: variables.$colorGeoRedHover;
    }
  }

  &:disabled {
    opacity: 0.3;
    cursor: unset;
  }

  &.smSize {
    width: 120px;
    @include heightAndPadding(35px);
    font-size: 14px;
    line-height: 16px;

    @media (min-width: map.get(variables.$newBreakpoints, 'tablet')) {
      width: 138px;
      @include heightAndPadding(48px);
      line-height: 16px;
    }

    @media (min-width: map.get(variables.$newBreakpoints, 'desktop2')) {
      width: 180px;
      @include heightAndPadding(52px);
      font-size: 16px;
      line-height: 18px;
    }
  }

  &.mdSize {
    width: 100px;
    @include heightAndPadding(40px);
    font-size: 12px;
    line-height: 14px;

    @media (min-width: map.get(variables.$newBreakpoints, 'tablet')) {
      width: 245px;
      @include heightAndPadding(60px);;
      font-size: 18px;
      line-height: 21px;
    }

    @media (min-width: map.get(variables.$newBreakpoints, 'desktop2')) {
      width: 275px;
      @include heightAndPadding(62px);;
      font-size: 20px;
      line-height: 24px;
    }
  }

  &.lgSize {
    width: 190px;
    @include heightAndPadding(50px);;
    font-size: 18px;
    line-height: 21px;

    @media (min-width: map.get(variables.$newBreakpoints, 'tablet')) {
      width: 245px;
      @include heightAndPadding(60px);;
      font-size: 24px;
      line-height: 28px;
    }

    @media (min-width: map.get(variables.$newBreakpoints, 'desktop2')) {
      width: 365px;
      @include heightAndPadding(100px);;
      font-size: 32px;
      line-height: 38px;
    }
  }
}
