@use 'sass:map';
@use '../../../styles/variables.module';

$gap: .8rem;

.container {
  display: none;

  @media (min-width: map.get(variables.$newBreakpoints, 'desktop1')) {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    gap: $gap;
    margin: 0;
    flex-direction: row;
  }

  .navLinks {
    display: none;

    @media (min-width: map.get(variables.$newBreakpoints, 'tablet')) {
      display: flex;
      justify-content: space-evenly;
      gap: $gap;
      flex-direction: row;
      align-items: center;
      flex-grow: 1;
    }

    * {
      font-size: 14px;
    }
  }
}
